.tm-login-backgr{
    background: linear-gradient(to bottom left, #6acbe0, #6859ea) !important;
}
.tm-login-backgr a{
	color: #fff;
	font-size: 18px;
	position: absolute;
    bottom: 0px;
	margin: 30px;
}
.tm-login-backgr a:hover{
	 text-decoration: none !important;
}
.tm-login-backgr h3{
	color: #fff;
}
.tm-login-backgr .uk-button-default {
    background-color: transparent;
    color: #fff;
    border-color: rgba(255,255,255,0.8);
}

.tm-login-backgr:not(.uk-navbar-transparent) .uk-button-default:hover, .tm-login-backgr:not(.uk-navbar-transparent) .uk-button-default:focus {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.tm-login-backgr:not(.uk-navbar-transparent) .uk-button-default {
    background-color: transparent;
    color: #fff;
    border-color: rgba(255,255,255,0.8);
}
.tm-login-backgr .uk-input:focus{
	border-color: #fff;
}
