/*Раздел доставка*/
.card-stock{
  padding: 0px;
  margin-bottom: 20px;
}

.card-stock-title{
  padding-bottom: 0px !important;
  font-size: 20px;
}

.card-stock>div{
  padding: 5px 15px 10px 15px;
}
.card-stock-delit{
text-decoration: underline;
color: #df405a;
font-size: 14px;
text-align: right;
top: 18px;
position: relative;
}

.list-add-stock{
font-size: 14px;
line-height: 30px;
color: #df405a;
text-decoration: underline;
}

/*Таблица*/
th {
    height: 30px;
    text-align: center !important;
    font-weight: 700;
}
td {
    text-align: center
}
th:nth-of-type(7),td:nth-of-type(7),th:nth-of-type(6),td:nth-of-type(6)  {
    color: red;
}
th:nth-of-type(7),td:nth-of-type(7),th:nth-of-type(6),td:nth-of-type(6)  {
    background: #efefef;
}
.today {
  background: #fff;
}
.tab-calendar .active{
  background: #545486;
  color: #fff;
}
