
body {
background: #f6fafd;
}

/*Uikit==================================================================================*/
.uk-nav-default .uk-nav-sub a:focus, .uk-nav-default .uk-nav-sub a:hover {
    color: #fff;
}
.uk-list-striped>li:nth-of-type(odd) {
    background: #efefef;
}
.uk-link:hover, a:hover {
    color: #df405a;
    text-decoration: underline;
}
.uk-button-primary {
    background-color: #df405a;
}
.uk-button-primary:focus, .uk-button-primary:hover {
    background-color: #d2304a;
    color: #fff;
}
.uk-table td, .uk-table th{
    border: 1px solid #cacaca;
}
.uk-list-striped>li:nth-of-type(odd){
  border: none;
}
.uk-form-stacked .uk-form-label{
    display: block;
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 500;
}
/*Универсальные==================================================================*/
.h1-blc{
margin-bottom: 20px;
border-bottom: 2px solid #df405a;
position: relative;
}

.h1-blc:after {
content: '';
position: absolute;
background: #df405a;
width: 45px;
height: 7px;
bottom: -7px;
right: 0px;
}

.h1-blc>h1{
font-size: 35px;
display: inline-block;
margin-bottom: 5px;
}



/*Разметка страниц*/

/*Топ*/
.top-panel {
background: #f6f6f6;
border-bottom: 1px solid #ebeaef;
padding: 10px 0;
}
/*Футер*/
.footer-panel{
  background: #f6f6f6;
  border-top: 1px solid #ebeaef;
  padding: 10px 0;
}
/*Панель слева*/
.left-menu .uk-nav-default>li>a:focus, .left-menu .uk-nav-default>li>a:hover {
color: #fff;
}
.left-panel {
background: #2e2e48;
width: 300px;
min-height: 100%;
}
.left-menu{
padding: 30px;
}
.logo {
background: #2a293b;
width: 100%;
padding: 15px;
box-sizing: border-box;
font-size: 18px;
color: #fff;
}
